def determine_sampling_point(chemical_properties):
    """
    Determines the sampling point of a chemical sample based on its properties.
    
    Arguments:
    chemical_properties -- A dictionary containing the properties of the chemical sample.
                           Example: {'temperature': 25, 'pressure': 1.2, 'pH': 7.5}
    
    Returns:
    sampling_point -- The recommended sampling point for the chemical sample.
    """
    # Determine the sampling point based on chemical properties
    if chemical_properties['temperature'] > 50:
        sampling_point = 'High-temperature zone'
    elif chemical_properties['pressure'] > 1.5:
        sampling_point = 'High-pressure zone'
    elif chemical_properties['pH'] < 6 or chemical_properties['pH'] > 8:
        sampling_point = 'pH-sensitive zone'
    else:
        sampling_point = 'Standard sampling point'
    
    return sampling_point


def main():
    # Get user input for chemical properties
    temperature = float(input("Enter the temperature of the chemical sample: "))
    pressure = float(input("Enter the pressure of the chemical sample: "))
    pH = float(input("Enter the pH value of the chemical sample: "))
    
    # Create a dictionary of chemical properties
    chemical_properties = {
        'temperature': temperature,
        'pressure': pressure,
        'pH': pH
    }
    
    # Determine the sampling point
    sampling_point = determine_sampling_point(chemical_properties)
    
    # Print the result
    print("Recommended Sampling Point: ", sampling_point)


if __name__ == '__main__':
    main()
